<!DOCTYPE html>
<html>
<head>
  <title>大玉软件</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <script src="js/vue.js" ></script>
</head>
<body>
<div class="main" >
	<div class="header" >
	<div class="head-content" >
		<ul>
			<li v-for="it in sources" >
				{{it.name}}
				<img src="img/delete.png" @click="delfun(it)" style="max-height:31px;position: relative;top: 10px;" />
			</li>
		</ul>
	</div>
	<div class="head-right" >
		<button @click="clear" >
					清空
		</button>
		<img src="img/close.png" @click="close_fun()" />
		<img src="img/small.png" @click="small_fun()" />
	</div>
	</div>
	<div class="content" id="content" >
		<div class="content-left" >
			<table id="tab_left" >
				<tr v-for="it in leftData" >
					<td v-for="(item, index) in it" @click="selectLCol(index)" :class="{active:lcindex==index}" >{{item}}</td>
				</tr>
			</table>
		</div>
		<div class="content-center" >
			
		</div>
		<div class="content-right" >
			<table id="tab_right" >
				<tr v-for="(it,ind) in rightData" >
					<td v-for="(item, index) in it" @click="selectRCol(index)" v-init="{row:ind,col:index,item}" :class="{active:rcindex==index}" >{{item}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="header" style="position: fixed;text-align: center;width: 100%;" >
		<button @click="getSame()" >
			Get Result
		</button>
	</div>
</div>
<script src="js/action.js" ></script>
</body>
</html>